<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Card</title>
    <link rel="stylesheet" href="../public/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><span class="r">R</span>Restaurantfinder</a>
        </div>
    </header>

    <main>
        <div class="container">
            <a href="./_addRestaurant.html"><button class="add">New Restaurant</button></a>
            <div class="cards">
                
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-branding">
                <div class="logo">
                    <a href="#"><span class="r">R</span>Restaurantfinder</a>
                </div>
                <p>Explore the best dining experiences near you! Find restaurants, read reviews, and enjoy the ultimate foodie adventure.</p>
            </div>
      
            <div class="footer-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Restaurants</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
      
            <div class="footer-contact">
                <h4>Contact Us</h4>
                <p>Email: info@restaurantfinder.com</p>
                <p>Phone: +2624 00000000</p>
                <p>Address: 123 Foodie Lane, Gourmet City</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f" style="color: #4E64B5;"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter" style="color: #00ACED;"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" style="color: #9A8554;"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube" style="color: #C82929;"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 RestaurantFinder. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="../admin.js"></script>
</body>
</html>
